::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:black;
}
input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #DB162F !important;
    box-shadow: 0 1px 0 0 #DB162F !important;
}
#toastCard{
    box-shadow: none !important;
}
.toastsuccess{
	background-color:white;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.28), 0 1px 10px 0 rgba(0, 0, 0, 0.24), 0 2px 4px -1px rgba(0, 0, 0, 0.6);
}
#navbar-template{
    background-color: #DB162F;
}
.red-hover-color:hover{
    background-color: #DB162F;
}
#editCategorybtn{
    background-color:#FFB321;
    border-radius: 15px;
}

.radius{
    background-color: #DB162F;
    border-radius: 15px;
}
#title-navbar{
    font-weight: 100;
    font-size: 30px;
    margin-left: 1rem;
}
#buttonAddCategorie{
    background-color: #DB162F;
    margin-top:0.5rem;
    border-radius: 15px;
}
.modal{
    width: 30%;
    border-radius: 10px;
    margin-top:100px;
}
#modalEditSubcategory{
    margin-top:10px;
}
#inputFields{
    margin-top:1rem;
}
.animated {
    -webkit-animation-duration: 10s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }
 
 @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 #editCategory{
    font-weight: bold;
    font-size: 25px;
}
 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
#rowSearch{
    margin-top:2rem;
}
#deleteIcon{
    margin-left:2rem;
}
#searchPart{
    margin-top:1rem;
}
#btnaddSub{
    background-color: #DB162F;
    margin-top:1rem;
    border-radius: 15px;
}
#rowSearchSubcategory{
    margin-top:0.5rem;
    
}
#subcategoriesDiv{
    margin-top:1.5rem;
}