::placeholder{
    color:black;
}
#navbar-template{
    background-color: #DB162F;
}
#title-navbar{
    font-weight: 100;
    font-size: 30px;
    margin-left: 1rem;
}
#title-card2{
    margin-top: 1rem; 
}
#card-home{
    margin-top: 1rem;
    box-shadow: none !important;
}
#controlButtons{
    margin-top:1.5rem;
}
#btnSailV{
    background-color: #DB162F;
    border-radius: 5px;    
    margin-left: 1rem;
}
#btnAddProduct{
    margin-top:1rem;
    background-color: #DB162F;
    border-radius: 5px;    
    margin-left: 1rem;
}
#card-list-categories{
    box-shadow: none !important;
    width: auto;
}
.collection .collection-item:hover{ 
    background-color: #DB162F;
    color:white;
}
.collection{
    border-radius: 10vh;
}

#title-card3{
    font-weight: bold;
    color:grey;
}
#title-category{
    font-weight: bold;
    color:white;
    
}   
.modal-title{
    font-weight: bold;
    font-size: 20px;
}
.modal{
    width: 30%;
}
.animated {
    -webkit-animation-duration: 10s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }
 
 @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
.center{
    margin-top:2rem;
}
#card-category{
    border-radius: 10px;
    background-color: #DB162F;
}
.button-rounded{
    border-radius: 25px;
}
#addProductBtn{
    border-radius: 25px;
    background-color: #DB162F;
}
.red-cover{
    background-color: #DB162F;
}
.red-cover:hover{
    background-color: #DB162F;
}